/* #div-links {
  display: flex;
  height: 150px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5%;
  border-radius: 20px;
  padding-left: 90px;
  padding-top: 40px;
  border: 1px solid #1d1d1d;
}

@media screen and (max-width: 470px) {

  #div-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #1d1d1d;
    height: auto;
    margin: 5px;
    padding-left: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

}

h2 {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 5%;
}

img {
  width: 50%;
  height: auto;
  margin-bottom: 20%;
}

#gmail-image:hover {
  cursor: pointer;
  width: 70%;
}

#linkedin-image:hover {
  cursor: pointer;
  width: 70%;
}

#github-image:hover {
  cursor: pointer;
  width: 70%;
}

#whatsapp-image:hover {
  cursor: pointer;
  width: 70%;
}
 */