footer {
  /*
  display: flex;
  justify-content: center;
  width: 80%;
  height: 250px;
  margin-top: 1300px;
  border-radius: 50% 50% 0 0;
  background-color: rgb(244, 219, 255); */
  display: flex;
  justify-content: center;
  width: 100%;
  height: 180px;
  margin-top: 50px;
  background-image: url(../images/backfooter.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 14px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#contacts {
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

#aline-copyright {
  margin-bottom: 0px;
}