#footer-text {
  position: fixed;
  bottom: 0;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  border: 1px solid #1d1d1d;
}

#aline-copyright {
  margin: 0;
}