#pricipal-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#pricipal-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#text-article {
  width: 70%;
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#hello-world-image {
  width: 40%;
}

#profile-photo {
  width: 30%;
  border-radius: 50%;
}

/* section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hello-world-image {
  width: 50%;
  margin-top: 3%;
}

#text-article {
  margin-top: 3%;
  width: 60%;
  border: #1d1d1d 1px solid;
  border-radius: 20px;
  padding: 3%;
  font-size: 20px;
}

#profile-image {
  width: 40%;
  margin-right: 5%;
  border-radius: 50%;
} */



