#pricipal-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#section-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
  margin-right: 10%;
  margin-left: 10%;
  width: 60%;
}

#hello-world-image {
  width: 60%;
}

#profile-photo {
  width: 40%;
  border-radius: 50%;
}

body {
  background-color: black;
}

p {
  color: white;
  font-family: serif;
  font-size: 20px;
}

#text-article {
  margin-top: 10%;
  margin-bottom: 15%;
  width: 80%;
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
