#pricipal-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#hello-world-image {
  width: 50%;
  margin-top: 3%;
}

#text-article {
  margin-top: 3%;
  width: 60%;
  display: block;
  border: #1d1d1d 1px solid;
  border-radius: 20px;
  padding: 3%;
}

#profile-image {
  width: 40%;
  margin-right: 5%;
  border-radius: 50%;
  float: left;
}

body {
  background-color: black;
}

p {
  color: white;
}


