#projects {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80%;
}

#projects ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#projects ul li a {
  width: 70%;
  padding: 6%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-decoration: none;
  color: white;
  font-family: serif;
  font-size: 20px;
}

#projects li:hover {
  background: #424142;
  cursor: pointer;
}

img {
  width: 15%;
  height: auto;
  border-radius: 25%;
}


