#skills {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 10%;
}

#skills .progress {
  background: #DDD;
  border: 1px solid black;
  display: flex;
  height: 25%;
  width: 60%;
}

#skills .progress .step {
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-weight: bold;
  justify-content: center;
}

#skills .progress .step:not(:last-child) {
  border-right: 1px solid black;
}

#skills .progress .step.complete {
  background: #FF0099;
  color: rgb(0, 0, 0);
}

h3 {
  color: white;
}