#div-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

#skills {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 85%;
  border: #1d1d1d 1px solid;
  border-radius: 20px;
  padding: 5%;
}

#skills .progress {
  background: rgb(202, 202, 202);
  border-radius: 20px;
  border: 1px solid black;
  display: flex;
  height: 20%;
  width: 100%;
}

#skills .progress .step {
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-weight: bold;
  justify-content: center;
  padding: 0.5rem;
  font-size: 16px;
}

@media screen and (max-width: 470px) {
  #skills .progress .step {
    font-size: 11px;
  }

  h3 {
    font-size: 12px;
  }
}

#skills .progress .step:not(:last-child) {
  border-right: 1px solid black;
}

#skills .progress .step.complete {
  background-color: #FF0099;
  color: rgb(0, 0, 0);
}

#skills .progress .step.complete:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#skills .progress .step.complete:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

h3 {
  color: white;
}