#gif-img {
  margin-top: 2px;
  width: 150px;
  margin-bottom: 0px;
  border-radius: 50%;
}

#section-skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 3%;
  margin-left: 50px;
  margin-right: 3%;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgb(194, 194, 194);
  width: 150px;
  text-align: center;
  padding: 3%;
  padding-top: 0;
  border-radius: 25px;
  margin-bottom: 2%;
  height: 600px;
}

.svg-img {
  width: 100px;
  margin-top: 50px;
}

.languages {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
}

.languages .progress {
  border-radius: 20px;
  border: 1px solid black;
  display: flex;
  height: 20%;
  width: 100%;
}

.languages .progress .step {
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-weight: bold;
  justify-content: center;
  padding: 0.2rem;
}

.languages .progress .step.complete {
  background-color: #e371ff;
  color: rgb(0, 0, 0);
}

.languages .progress .step.complete:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.languages .progress .step.complete:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}