nav ul {
  display: flex;
  font-size: 16px;
  justify-content: center;
  list-style-type: none;
}

nav ul li {
  margin: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  color: black;
  background-color:#ff0099;
}

